.root {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 200px;
  height: 36px;
  margin: auto;
  padding: 0 8px;
  color: var(--textColor);
  background-color: var(--backgroundPrimary);
  border: 1px solid var(--borderInactive);
  border-radius: 4px;
  box-sizing: border-box;
}

.rootFocused {
  border: 2px solid var(--activeColor);
  padding: 0 7px;
  outline: none;
  transition: border-color ease 0.3s;
}

.rootInProgress {
  /* animation: blink 0.4s infinite; */
  border-color: rgb(14, 209, 31);
}

.key {
  padding: 4px;
  background-color: #e4e5e5;
  border-radius: 4px;
  line-height: 0.8rem;
}

.placeholder {
  margin: 0 auto;
}

@keyframes blink {
  0%,
  100% {
    border-color: #457cef;
  }
  50% {
    border-color: #457cefaa;
  }
}
