.root {
  --color: #87888d;
  --horizontalPadding: 12px;
  display: flex;
  align-items: center;
  gap: 4px;
  width: 210px;
  height: 36px;
  margin: auto;
  padding: 0 var(--horizontalPadding);
  color: var(--color);
  background-color: var(--backgroundPrimary);
  border: 1px solid var(--borderInactive);
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  outline: none;
  transition: border-color ease 0.3s;
}

.root:hover {
  border-color: var(--activeColor);
}

.root:hover.rootError {
  border-color: var(--errorColor);
}

.rootFocused {
  border-width: 2px;
  border-color: var(--activeColor);
  padding: 0 calc(var(--horizontalPadding) - 1px);
}

.root.rootEditing {
  animation: blink 0.4s infinite;
}

.root.rootError {
  border-color: color-mix(in srgb, var(--errorColor) 60%, transparent);
  color: var(--errorColor);
}

.key {
  padding: 6px;
  background-color: #e4e5e5;
  border-radius: 8px;
  line-height: 0.8rem;
  text-shadow: var(--color) 0 0px 1px;
}

.placeholder {
  margin: 0 auto;
}

@keyframes blink {
  0%,
  100% {
    border-color: var(--activeColor);
  }
  50% {
    border-color: color-mix(in srgb, var(--activeColor) 60%, transparent);
  }
}
